doctype html
html
  head
  title
  link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css', type='text/css')
.container
  h1
  .col
    audio(controls='')
      source(src=imgurl)
      a.btn.btn-seconday(href='/') Go Back